@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-black: #050505;
  --color-brand-offwhite: #F9F9F9;
  --color-brand-border: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-brand-black text-brand-offwhite font-sans antialiased;
    letter-spacing: -0.01em;
  }

  ::selection {
    @apply bg-brand-offwhite text-brand-black;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-brand-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-border rounded-full hover:bg-white/30 transition-colors;
}

.mask-fade-out {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
